body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
            color: #333;
        }
        .main-content {
            padding: 20px;
        }
        .section {
            display: none;
        }
        .section.active {
            display: block;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        
        .header {
            background-image: url('https://st4.depositphotos.com/27893600/39296/v/450/depositphotos_392966258-stock-illustration-nature-pharmacy-herbal-medicine-logo.jpg'); /* Replace with your image */
            background-size: cover;
            background-position: center;
            height: 500px;
            color: black;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .header h1 {
            font-size: 3.5em;
            margin-bottom: 10px;
        }
        .header p {
            font-size: 1.5em;
        }
        .about, .services, .contact {
            padding: 60px 0;
        }
        .about img, .services img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
        .footer {
            background-color: #2c3e50;
            color: #ecf0f1;
            padding: 20px 0;
            text-align: center;
        }
